@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
  }
  .nav{
    background-color: rgb(63, 29, 41);
    color: white;
    font-size: 34px;
}
.nav:hover {
    background-color: #ddd;
    color: black;
  }
  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-image: url('/static/close-up-blank-old-concrete-wall_23-2147856094.jpg');
  }
  .container P{
      font-size: 20px;
  }
  .container h1{
      font-size: 60px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }
  .card img{
      width: 250px;
      height: 200px;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:green;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }