<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch-About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    style
        include about.css
</head>

<body>
    <div class="nav">
        <p>MNNIT-Merch-Store</p>
    </div>
    <hr>
    <hr>
    <hr>
    <hr>
    <div class="container">
        <h1>About us</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni facilis alias id eligendi ratione culpa sed
            illum incidunt ad, quasi magnam odio minima vel molestiae laborum aliquid sunt tenetur odit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Fugit libero omnis saepe, illum sapiente nulla optio qui
            aliquam nobis. Est quo eaque perferendis eveniet? Quod ipsa ut eos iusto ducimus!</P>
    </div>
    <div class="card">
        <img src="/static/hjmotlgyttt31.jpg" alt="Sanskar"">
        <h1>SANSKAR JAIN</h1>
        <p class=" title">Designer & Developer</p>
        <p>MNNIT</p>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button><a href="/contact">contact</a></button></p>
    </div>
</body>

</html>