@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
  }
  .nav{
    background-color: rgb(63, 29, 41);
    color: white;
    font-size: 34px;
}
.nav:hover {
    background-color: #ddd;
    color: black;
  }
  .container{
      display: flex;
      flex-direction: column;
      padding: 10px;
  }
  .container p{
      text-align: center;
      font-size: 40px;
  }
#image img{
    height: 250px;
    width: 150px;
    margin-top: 6px;
    border-radius: 200px;
}

.box{
    display: flex;
    justify-content: space-around;
    border: 2px ridge black;
    position: relative;
    margin-bottom: 9px;
}
.mid span{
    display: flex;
    justify-content: space-around;
}
span p{
    color: blue;
}
.price h1{
    color: red;
    font-style: oblique;
    font-size: 40px;
}
.price a img{
    width: 100px;
    height: 100px;
    position:absolute;
    bottom: 20px;
}
.price a:hover{
    filter: invert(100%);
    width: 100px;
    height: 100px;
    position:absolute;
    bottom: 0px;
}
.joinus{
    display: flex;
    justify-content:center;
    width: 100%;
    
  }
  .joinus a img{
    width: 70px;
    height: 70px;
    margin: 4px;
  }
  .foot{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
   
  }
@media screen and (max-width:770px){
    .box{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    .price{
        display: flex;
        flex-direction: column;
        position: relative;
        padding-top: 6px;
    }
    .price a img{
        width: 100px;
        height: 100px;
        position: relative;
        margin-top: 50px;
    }
}