<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch-Home</title>
    style 
        include home.css
</head>
<body>
    <div class="nav">
        <p>MNNIT-Merch-Store</p>
    </div>
    <div class="eventmain">
        <h2>GET THE OFFICIAL MERCHANDISE</h2>
        <div class="box">
            <div class="event">
                <p>Culrav</p>
                <a href="/home/culrav"><img src="/static/culravlogo.jpg" alt=""></a>
            </div>
            <div class="event">
                <p>Avishkar</p>
                <a href="/home/avishkar"><img src="/static/avishkar (2).jpg" alt=""></a>
            </div>
            <div class="event" id="mit">
                <p>MNNIT-official</p>
                <a href="/home/mnnit"><img src="/static/mnnitl.jpg" alt=""></a>
            </div>
            <div class="event">
                <p>E-cell</p>
                <a href="/home/ecell"><img src="/static/ecell (2).jpg" alt=""></a>
            </div>
            <div class="event">
                <p>Prosang</p>
                <a href="/home/prosang"><img src="/static/pro.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <footer class="joinus">
        <a class="join" href="" target="_blank"><img class="img1" src="/static/fb.jpg" alt=""></a>
        <a class="join" href="" target="_blank"><img class="img2" src="/static/insta (2).jpg" alt=""></a>
        <a class="join" href="" target="_blank"><img class="img3" src="/static/twt.jpg" alt=""></a>
    </footer>
    <div class="foot">
         <p>Operated By:NITA All Rights Reserved &copy; 2020</p>
    </div>
</body>
</html>