@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
  }
  .nav{
    background-color: rgb(63, 29, 41);
    color: white;
    font-size: 34px;
}
.nav:hover {
    background-color: #ddd;
    color: black;
  }
  .eventmain{
      position: relative;
      
    }
            .eventmain::before{
                  content: " ";
                  background:url('/static/wp2581365.jpg')repeat-y center center/cover;
                  width: 100%;
                  height:100%;
                  z-index: -1;
                  position: absolute;
                  top: 0;
                  left: 0;
                  opacity: 0.5;
            }
.eventmain h2{
      text-decoration-style: wavy;
      text-align: center;
}

.box{
    display: flex;
   justify-content: center;
    align-items: center;
    height: 400px;
}
.event{
    margin: 25px;
}
.event a img{
    width: 100px;
    height: 100px;
    border: 4px ridge black;
    box-shadow: 7px 7px gray,-7px -7px gray;
}
#mit img{
  height: 140px;
  width: 140px;

}
.joinus{
    display: flex;
    justify-content:center;
    width: 100%;
    
  }
  .joinus a img{
    width: 70px;
    height: 70px;
    margin: 4px;
  }
  .foot{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
   
  }
  @media screen and (max-width:842px){
    .box{
        display: flex;
        flex-direction: column;
       justify-content: center;
        align-items: center;
        height: 100%;
    }
  }