<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    style
       include index.css  
</head>
<body>
    <!-- Top Navigation Menu -->
<div class="topnav">
    <p> MNNIT-Merch-Store</p>
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks">
      <a href="/register">Register</a>
      <a href="/contact">Contact</a>
      <a href="/about">About</a>
    </div>
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>
  <div class="tag">
      <p>Get the latest Merchandise </p>
      <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium quaerat doloribus quisquam quo sit qui non suscipit veniam. Itaque expedita, temporibus facilis ullam id nam consequatur illum quaerat vitae. Eaque?</span>
  </div>
  <hr>
  <hr>
  <hr>
  <div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 6</div>
      <img src="/static/culrav2.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 6</div>
      <img src="/static/mnnit2.jpg" style="width:100%">
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 6</div>
      <img src="/static/culrav2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
        <div class="numbertext">4 / 6</div>
        <img src="/static/prosang.jpg" style="width:100%">

    </div>
      <div class="mySlides fade">
        <div class="numbertext">5 / 6</div>
        <img src="/static/avishkar.jpg" style="width:100%">

      </div>
      <div class="mySlides fade">
        <div class="numbertext">6 / 6</div>
        <img src="/static/ecell.jpg" style="width:100%">

      </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
  </div>
  <hr>
  <hr>
  <hr>
  <footer class="joinus">
    <a class="join" href="" target="_blank"><img class="img1" src="/static/facebook.jpg" alt=""></a>
    <a class="join" href="" target="_blank"><img class="img2" src="/static/twitter.jpg" alt=""></a>
    <a class="join" href="" target="_blank"><img class="img3" src="/static/insta.jpg" alt=""></a>
  </footer>
  <div class="foot">
     <p>Operated By:NITA All Rights Reserved &copy; 2020</p>
  </div>
  script 
       include index.js 
</body>
</html>