<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch-Prosang</title>
    style 
       include prosang.css
</head>

<body>
    <div class="nav">
        <p>MNNIT-Merch-Store</p>
    </div>
    <div class="container">
        <p>Prosang '20</p>
        <div class="box">
            <div id="image">
                <img src="/static/p1.jpg" alt="">
            </div>
            <div class="mid">
                <h2>Prosang'20 Official T-shirt</h2>
                <span>
                    <p>Color:</p>
                    <ul>
                        <li>Black</li>
                        <li>White</li>
                        <li>Red</li>
                        <li>Blue</li>
                    </ul>
                </span>
                <span>
                    <p>Size:</p>
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                        <li>XL</li>
                    </ul>
                </span>
            </div>
            <div class="price">
                <h1>&#8377;260</h1>
                <a href="/home/prosang/buynow"><img src="/static/buy.jpg" alt=""></a>
            </div>
        </div>
    </div>
    <footer class="joinus">
        <a class="join" href="" target="_blank"><img class="img1" src="/static/fb.jpg" alt=""></a>
        <a class="join" href="" target="_blank"><img class="img2" src="/static/insta (2).jpg" alt=""></a>
        <a class="join" href="" target="_blank"><img class="img3" src="/static/twt.jpg" alt=""></a>
    </footer>
    <div class="foot">
        <p>Operated By:NITA All Rights Reserved &copy; 2020</p>
    </div>
    script 
       include prosang.js
</body>

</html>