<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merch-Register</title>
    style 
       include register.css
</head>
<body>
    <div class="nav">
        <p>MNNIT-Merch-Store</p>
    </div>
    <section class="box" id="b1">
        <p>Register here</p>
        <form action="/register" method="post">
            <div class="form">
                <label for="name">NAME:</label>
                <input type="text" name="name" id="name" placeholder="Enter your name">
            </div>
            <div class="form">
                <label for="name">PHONE NO.:</label>
                <input type="phone" name="number" id="number" placeholder="Enter your contact no.">
            </div>
            <div class="form">
                <label for="name">REGISTRATION NO.:</label>
                <input type="password" name="reg" id="reg" placeholder="Password"></input>
            </div>
            <div class="form">
                <input type="submit" value="Submit">
            </div>
        </form>
    </section>
    
      <div class="foot">
        <footer class="joinus">
            <a class="join" href="" target="_blank"><img class="img1" src="/static/facebook.jpg" alt=""></a>
            <a class="join" href="" target="_blank"><img class="img2" src="/static/twitter.jpg" alt=""></a>
            <a class="join" href="" target="_blank"><img class="img3" src="/static/insta.jpg" alt=""></a>
        </footer>
         <p>Operated By:NITA All Rights Reserved &copy; 2020</p>
      </div>
</body>
</html>